################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TDDKata/FileContentIndex/361c0349-680e-477f-90a4-c063c00e628e.vsidx
